<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>

<aside class="sidebar-menu fixed" th:fragment="copy">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="main-menu">
            <ul class="accordion">
                <li class="menu-header">
                    Main Menu
                </li>
                <li shiro:hasAnyRoles="admin,member" class="bg-palette1">
                    <a href="/view/adminIndex">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
                            <span class="text m-left-sm">搜索</span>
                        </span>
                        <span class="menu-content-hover block">
                            Home
                        </span>
                    </a>
                </li>
                <li shiro:hasAnyRoles="admin,member" class="bg-palette2">
                    <a href="/view/addProfile">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                            <span class="text m-left-sm">提交黑名单</span>
                        </span>
                        <span class="menu-content-hover block">
                            Landing
                        </span>
                    </a>
                </li>
                <li shiro:hasAnyRoles="admin" class="bg-palette2">
                    <a href="/view/profileManage">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                            <span class="text m-left-sm">黑名单审核</span>
                        </span>
                        <span class="menu-content-hover block">
                            Landing
                        </span>
                    </a>
                </li>
                <li shiro:hasAnyRoles="admin" class="bg-palette2">
                    <a href="/view/userManage">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                            <span class="text m-left-sm">会员审核</span>
                        </span>
                        <span class="menu-content-hover block">
                            Landing
                        </span>
                    </a>
                </li>
                <!--<li class="openable bg-palette3">-->
                    <!--<a href="#">-->
                        <!--<span class="menu-content block">-->
                            <!--<span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>-->
                            <!--<span class="text m-left-sm">审核</span>-->
                            <!--<span class="submenu-icon"></span>-->
                        <!--</span>-->
                        <!--<span class="menu-content-hover block">-->
                            <!--Form-->
                        <!--</span>-->
                    <!--</a>-->
                    <!--<ul class="submenu bg-palette4">-->
                        <!--<li class=""><a href="/view/profileManage"><span class="submenu-label">黑名单审核</span></a></li>-->
                        <!--<li><a href="/view/userManage"><span class="submenu-label">会员审核</span></a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </div><!-- sidebar-inner -->
</aside>
<!-- 左侧菜单-结束 -->
</body>

</html>